{% extends "base.html" %}
{% block content %}

<div class="courtroom-grid">
    <a href="#" class="mode-card">
        <div class="mode-icon"><i data-lucide="gavel"></i></div>
        <h5>Зал суда</h5>
        <p>Нейросети в зале суда пытаются переспорить друг друга</p>
    </a>

    <a href="#" class="mode-card">
        <div class="mode-icon"><i data-lucide="atom"></i></div>
        <h5>Научная дискуссия</h5>
        <p>Два ученых пытаются отстоять свою точку зрения!</p>
    </a>

    <a href="#" class="mode-card">
        <div class="mode-icon"><i data-lucide="messages-square"></i></div>
        <h5>Спор на любую тему</h5>
        <p>Нейросети спорят о чем пожелаете!</p>
    </a>

    <a href="#" class="mode-card">
        <div class="mode-icon"><i data-lucide="bot"></i></div>
        <h5>Нейронка против человека</h5>
        <p>Докажите, что человек умнее нейросети</p>
    </a>
</div>

{% endblock %}